<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.fabric.Digits" version="0.1.1" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DigitsConnect</name>
    <description>Cordova Plugin for Fabric Digits</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=4.1.0" />
        <engine name="cordova-ios" version=">=3.9.0" />
    </engines>

    <js-module name="FabricDigitsPlugin" src="www/digits.js">
        <clobbers target="plugin.Fabric.Digits"/>
    </js-module>

    <preference name="FABRIC_TWITTER_KEY" />
    <preference name="FABRIC_TWITTER_SECRET" />

    <dependency id="org.fathens.cordova.plugin.fabric.Base" url="https://github.com/fathens/Cordova-Plugin-Fabric.git" commit="master" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="io.fabric.twitter.key" android:value="$FABRIC_TWITTER_KEY"/>
            <meta-data android:name="io.fabric.twitter.secret" android:value="$FABRIC_TWITTER_SECRET"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.RECEIVE_SMS"/>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FabricDigitsPlugin">
                <param name="android-package" value="org.fathens.cordova.plugin.fabric.FabricDigits"/>
            </feature>
        </config-file>

        <source-file src="platforms/android/src/main/kotlin/FabricDigits.kt" target-dir="kotlin/org.fathens.cordova.plugin.fabric"/>

        <fabric>
            <import>com.twitter.sdk.android.core.TwitterCore</import>
            <import>com.twitter.sdk.android.core.TwitterAuthConfig</import>
            <import>android.content.pm.PackageManager.GET_META_DATA</import>
            <import>com.digits.sdk.android.Digits</import>
            <instance>TwitterCore(TwitterAuthConfig(metaData.getString("io.fabric.twitter.key"), metaData.getString("io.fabric.twitter.secret")))</instance>
            <instance>Digits.Builder().build()</instance>
        </fabric>

        <framework src="platforms/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <source-file src="platforms/ios/src/FabricDigits.swift"/>

        <config-file parent="/*" target="config.xml">
            <feature name="FabricDigitsPlugin">
                <param name="ios-package" value="FabricDigits"/>
            </feature>
        </config-file>

        <podfile swift_version="3.0">
            <pod name="Digits" />
        </podfile>

        <fabric name="Digits">
            <info key="consumerKey" type="string">${FABRIC_TWITTER_KEY}</info>
            <info key="consumerSecret" type="string">${FABRIC_TWITTER_SECRET}</info>
            <import>DigitsKit</import>
            <instance>Digits.self</instance>
        </fabric>
    </platform>
</plugin>
